<div class="col s12 z-depth-1 white" style="padding: 30px;">

  <h1 style="margin: 0;">Список записей</h1>

  <p id="notice"><%= notice %></p>

  <%= link_to 'Создать новую запись', new_post_path, class: 'btn' %>

  <%= will_paginate @posts, renderer: MaterializePagination::Rails %>

  <table>
    <thead>
      <tr>
        <th>Название</th>
        <th>Текст записи</th>
        <th>Время создания</th>

        <th>Показать</th>
        <th>Редактировать</th>
        <th>Удалить</th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title.html_safe %></td>
          <td><%= post.content.html_safe %></td>
          <td><%= time_ago_in_words(post.created_at) %> назад</td>
          <td><%= link_to 'Показать', post %></td>
          <td><%= link_to 'Редактировать', edit_post_path(post) %></td>
          <td><%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Вы уверены, что хотите удалить запись?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate renderer: MaterializePagination::Rails %>
</div>
